<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70093456937-7duq7ren87utji6shao8t458cis55fo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70093456937-7duq7ren87utji6shao8t458cis55fo1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmyoVePX1feYj8AIuLJ1_DGdVRcTpwxik</string>
	<key>GCM_SENDER_ID</key>
	<string>70093456937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sunkanmi.MobileHyffinApp</string>
	<key>PROJECT_ID</key>
	<string>app-hyffin-db</string>
	<key>STORAGE_BUCKET</key>
	<string>app-hyffin-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70093456937:ios:1417574204ab1204d27e38</string>
</dict>
</plist>